{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file='form' /}
    <div class="cl pd-5 bg-1 bk-gray">
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="100">所属类型</th>
            <th width="100">所属分类</th>
            <th width="150">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td>{:getCourseClassifyType($vo['course_type'])}</td>
            <td>{$vo.course_classify_title}</td>
            <td class="f-14">
                <a href="javascript:setchoose('{$vo.id}','{$vo.course_classify_title}');">选择</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page}</div>
</div>
{/block}
{block name='script'}
<script>
    function setchoose(id,name) {
       window.parent.choose(id,name);
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    }
</script>
{/block}