{extend name="template/base" /}
{block name="content"}
<style>
    .floating-box {
        display: none;
    }
</style>
<div class="goodslist">
    <div class="zxjyx" data-id="{$C.id}">
        <p class="ptitle">{$C.course_classify_title}</p>
        <div class="zxjyxklist">
            <div class="empty" style="padding: 50px;display: none">
                <img  src="__STATIC__/index/img/kecheng.png" alt="" style="width: 100%">
                <p style="width: 100%;text-align: center;font-size: 20px;margin-top: 12px">暂无课程</p>
            </div>
        </div>
    </div>
</div>
<!--<div class="footer">-->
<!--<a href="{:url('index/index')}">-->
<!--<div class="upgrade-tool-img">-->
<!--<img src="__STATIC__/index/img/mm2.png?v={:time()}">-->
<!--</div>-->
<!--锦鲤MoM-->
<!--</a>-->
<!--<a href="{:url('order/index')}">-->
<!--<div class="upgrade-tool-img">-->
<!--<img src="__STATIC__/index/img/kd1.png?v={:time()}">-->
<!--</div>-->
<!--我的课程-->
<!--</a>-->
<!--<a href="{:url('user/index')}">-->
<!--<div class="upgrade-tool-img">-->
<!--<img src="__STATIC__/index/img/user2.png?v={:time()}">-->
<!--</div>-->
<!--个人中心-->
<!--</a>-->
<!--</div>-->
{/block}
{block name='script'}
<script type="text/javascript" src="__STATIC__/index/js/goodslist.js?v={:time()}"></script>

{/block}