{extend name="template/base" /}
{block name="nav"}{/block}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="" action="">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"></label>
            <div class="formControls col-xs-6 col-sm-6">
                <video controls="controls" autoplay="autoplay" style="width:100%;height:45%">
                    <source src="{$path}" type="video/mp4" id="preview" />
                </video>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
    </form>
</div>
{/block}
