{extend name="template/base" /}
{block name="content"}

    <div class="record-box">
        <ul>
            {if isset($userTxlist)}
            {if count($userTxlist) >0}
            {volist name='userTxlist' id='vo'}
            <li>
                <div class="record-data">
                    <h2>{:date('Y-m-d',$vo.add_time)}</h2>
                    <span>{:date('H:i',$vo.add_time)}</span>
                </div>
                <div class="record-con">
                    <h3>{:number_format($vo.amount, 2, '.', '')}元</h3>
                    <span class="ongoing">{if $vo.type_status==1}已完成{else}提现中{/if}</span>
                </div>
            </li>
            {/volist}
            {else}
            <li>
                <div class="team-num">
                    <div class="team-imgbox" style="width:4.5rem;">
                        <img src="__STATIC__/index/img/shuigang.png">
                    </div>
                    <div class="team-con" style="font-size: 0.35rem">暂无数据~</div>
                </div>
            </li>
            {/if}
            {/if}
        </ul>
    </div>

{/block}